.page-body{
    width: 1280px;
    text-align: center;
    margin: 0 auto;
}
.header-name{
    text-align: start;
    /* margin-left: 98px; */
}
.header-link{
    text-decoration: none;
    color: #000000;  
    font-weight: 400;
font-size: 80px;
line-height: 94px;
}
.header-span{
    color: #4BCAFF;
}
.header-menu{
    box-sizing: border-box;
    /* margin-left: 98px; */
    padding: 0;
    display: flex;
    list-style-type: none;
    /* width: 1280px;
    height: 72px; */
    justify-content: center;
    align-items: center;
    /* border: 1px solid #FFFFFF; */
    background-color: #35444F;;
}
.menu-link{
    padding: 26px 38px 19px 38px;
    background-color: #35444F;
    border: 1px solid #FFFFFF;
    font-weight: 400;
font-size: 24px;
line-height: 28px;
}
.link{
    text-decoration: none;
    color: #FFFFFF;
}
.hover:visited{
    color: #FFFFFF;
    
}
.hover:hover{
    background-color: #222F3A;
    /* padding: 26px 38px 19px 38px; */
}
.main-page{
    display: flex;
    /* justify-content: center; */
}
.img{
    width: 320px;
height: 381px;
left: 297px;
top: 75px;
}
.img-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 885px;
height: 529px;
left: 0px;
top: 0px;
border: 1px solid #000000;
text-align: e;
margin-left: 52px;
margin-top: 48px;
margin-right: 0;

}

.main-aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    border: 1px solid #000000;
    width: 344px;
height: 399px;
margin-top: 48px;
/* padding: 0; */

}
.aside-link{
text-align: start;
color: #485863;
margin-top: 26px;
margin-bottom: 30px;
/* margin-left: 48px; */
}
.link-item{
    text-decoration: none;
    padding: 0 auto;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #35444F;  
}
.paragraf-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: flex-start; */
    width: 885px;
    margin-left: 52px;
    margin-top: 37px;
    text-align: start;

}
.main-paragraf{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1280px;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);;
}
.footer-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
height: 69px;
list-style-type: none;

}
.footer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
height: 69px;
}
.footer-item{
    text-decoration: none;

}
